<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolTracker"
        tools:targetApi="31">
        <activity
            android:name="com.wguc196.schooltracker.UI.AssessmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.wguc196.schooltracker.UI.CourseDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.wguc196.schooltracker.UI.TermDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.wguc196.schooltracker.UI.AssessmentEditActivity"
            android:exported="false"
            android:parentActivityName="com.wguc196.schooltracker.UI.AssessmentsList"/>
        <activity
            android:name="com.wguc196.schooltracker.UI.CourseEditActivity"
            android:exported="false"
            android:parentActivityName="com.wguc196.schooltracker.UI.CoursesList"/>
        <activity
            android:name="com.wguc196.schooltracker.UI.AssessmentsList"
            android:exported="false"
            android:label="@string/assessments"
            android:parentActivityName="com.wguc196.schooltracker.UI.TermsList" />
        <activity
            android:name="com.wguc196.schooltracker.UI.CoursesList"
            android:exported="false"
            android:label="@string/courses"
            android:parentActivityName="com.wguc196.schooltracker.UI.TermsList" />
        <activity
            android:name="com.wguc196.schooltracker.UI.TermEditActivity"
            android:exported="false"
            android:parentActivityName="com.wguc196.schooltracker.UI.TermsList" />
        <activity
            android:name="com.wguc196.schooltracker.UI.TermsList"
            android:exported="false"
            android:label="@string/terms"
            android:parentActivityName="com.wguc196.schooltracker.UI.MainActivity" />
        <activity
            android:name="com.wguc196.schooltracker.UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>